<div class="root-page">
  <% if (locals.showUploadDialog) { %> <%- include ("files/newFile.ejs") %> <% }
  %> <% if (locals.showDeleteFileDialog) { %> <%- include
  ("files/deleteFileDialog.ejs") %> <% } %> %> <% if
  (locals.showAddFolderDialog) { %> <%- include ("folders/newFolder.ejs") %> <%
  } %> <% if (locals.showDeleteFolderDialog) { %> <%- include
  ("folders/deleteFolderDialog.ejs") %> <% } %>
  <div class="root-header">
    <h1>Root Folder</h1>
    <a href="/files/new"
      ><button class="add-entry-button">Upload File</button></a
    >
    <a href="/folders/new"
      ><button class="add-entry-button">Add Folder</button></a
    >
  </div>
  <div class="files-container">
    <table class="files-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Upload Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% folders.forEach(folder => { %>
        <tr>
          <td>
            <a href="/folders/<%= folder.id %>">
              <div class="name-wrapper">
                <i class="fa-solid fa-folder"></i>
                <p><%= folder.name %></p>
              </div>
            </a>
          </td>
          <td></td>
          <td><%= folder.createdAt %></td>
          <td>
            <a href="/folders/<%= folder.id %>/delete">
              <i class="folder-delete fa-solid fa-trash fa-lg"></i>
            </a>
          </td>
        </tr>
        <% }) %> <% files.forEach(file => { %> <% if (file.folderId === null) {
        %>
        <tr>
          <td>
            <div class="name-wrapper">
              <% if (file.mimetype === 'application/pdf') { %>
              <i class="fa-solid fa-file-pdf"></i>
              <% } else if (file.mimetype === "image/jpeg" || file.mimetype ===
              "image/png") {%>
              <i class="fa-solid fa-image"></i>
              <% } else {%>
              <i class="fa-solid fa-file"></i>
              <% } %>

              <p><%= file.filename %></p>
            </div>
          </td>
          <td><%= file.size %></td>
          <td><%= file.createdAt %></td>
          <td class="btn-group">
            <a href="/files/<%= file.id %>/download">
              <i class="fa-solid fa-download fa-lg"></i>
            </a>
            <a href="/files/<%= file.id %>/delete">
              <i class="fa-solid fa-trash fa-lg"></i>
            </a>
          </td>
        </tr>
        <%} %> <% }); %>
      </tbody>
    </table>
  </div>
</div>
